<footer class="footer">
  <small>
    <a href="https://www.gastronomic.online/">GastroDev</a>
    by <a href="https://www.linkedin.com/in/nextbendev/">Ben S</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.slideshare.net/slideshow/embed_code/key/mv0I6qClGHZDKH">Resume</a></li>
    </ul>
  </nav>
</footer>
